{% extends "bookstore/base.html" %}
{% load static %}
{% block content %}

    {% block style %}
        <link rel="stylesheet" href="{% static 'bookstore/book_detail.css' %}">
    {% endblock style %}

    <div class="container-fluid" id="content">

        <form method="POST" action="/search">
            {% csrf_token %}
            <button id="back-button">
                <img src="{% static 'bookstore/images/back-icon.png' %}">
            </button>    
        </form>

        <div class="container-fluid" id="book-content">
            <div id="book-detail" class="row no-gutters">
                <div id="book-image-div">
                    <img src="{{ book.image }}">
                </div>
                <div id="book-info-div">
                    <h2 id="book-title">{{ book.title }}</h2>
                    <h5 id="book-title">{{ book.author }}, {{ book.year }}</h5>
                    <div id="price-info">
                        <div id="separator">
                            <span>_______________________________________</span>
                        </div>
                        <p id="rating">Rating: 4.8/5 (928 ratings)</p>
                        <p><b>Paperback</b></p>
                        <p id="price"><b>${{ book.price }}</b></p>
    
                        <ul>
                            <li>
                               <button>Paperback</button> 
                            </li>
                            <li>
                                <button>Hardcover</button>
                            </li>
                            <li>
                                <button>E-book</button>
                            </li>
                        </ul>
                        
                        <br>
                        <input type="radio" id="ship">
                        <label for="ship">Ship this Item</label><br>
                        <input type="radio" id="ship">
                        <label for="ship">Pick up in store</label><br>
                        <div id="add-to-cart-div">
                            <button id="add-to-cart">Add to Cart</button>
                        </div>
                    </div>  
                </div>
                <div id="description-div">
                    <p>{{ book.description }}</p>
                </div>
            </div>
        </div>
        
        <div id="related-books">
            <h3 id="related-books-title">Other books like {{book.title}}</h3>
            <ul>
              {% for book in books %}
                <li>
                  <!-- Pass book key through URL -->
                  <a href={% url 'bookstore-book_detail' book.id %}>
                    <img src="{{ book.image }}">
                    <p>{{ book.title }}</p>
                    <p>{{ book.author }}</p>
                    <p><b>${{ book.price }}</b></p>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        <!-- Add "similar books"-->
    </div>

{% endblock content%}