{% extends "bookstore/base.html" %}
{% load static %}
{% block content %}

{% block style %}
    <link rel="stylesheet" href="{% static 'bookstore/css/cart.css' %}">
{% endblock style %}

<div class="container-fluid" id="content">
    <div class="container bg-white rounded-top mt-5" id="zero-pad">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10 col-12 pt-3">
                <div class="d-flex flex-column pt-4">
                    <div>
                        <h5 class="text-uppercase font-weight-normal">shopping cart</h5>
                    </div>
                    <div class="font-weight-normal">{{ cartCount }} items</div>
                </div>
                <div class="d-flex flex-row px-lg-5 mx-lg-5 mobile" id="heading">
                    <div class="px-lg-5 mr-lg-5" id="produc">PRODUCTS</div>
                    <div class="px-lg-5 ml-lg-5" id="prc">PRICE</div>
                    <div class="px-lg-5 ml-lg-1" id="quantity">QUANTITY</div>
                    <div class="px-lg-5 ml-lg-3" id="total">TOTAL</div>
                </div>
                {% for item in cart.values %}
                    <div class="d-flex flex-row justify-content-between align-items-center pt-lg-4 pt-2 pb-3 border-bottom mobile">
                        <div class="d-flex flex-row align-items-center">
                            <div><img src="{{ item.book.image }}" width="150" height="200" alt="" id="image"></div>
                            <div class="d-flex flex-column pl-md-3 pl-1">
                                <div>
                                    <h6>{{ item.book.title }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="pl-md-0 pl-1">
                            <b>${{ item.book.price }}</b>
                        </div>
                        <div class="pl-md-0 pl-2">
                            <span class="fa fa-minus-square text-secondary"></span>
                            <span class="px-md-3 px-1">
                                <input type=number min=1 max=99 value="{{ item.quantity }}"></span><span class="fa fa-plus-square text-secondary">
                            </span>
                        </div>
                        <div class="pl-md-0 pl-1">
                            <b>${{ item.total }}</b>
                        </div>
                        <div class="close">&times;</div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </div>
    <div class="container rounded-bottom py-4" id="zero-pad">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10 col-12">
                <div class="d-flex justify-content-between align-items-center">
                    <div> <button class="btn btn-sm bg-light border border-dark"><a href="/home" style="color:black">Home Page</a></button> </div>
                    <div class="px-md-0 px-1" id="footer-font"> <b class="pl-md-4">Subtotal<span class="pl-md-4">${{ subtotal }}</span></b> </div>
                    <div> <button class="btn btn-sm bg-dark text-white px-lg-5 px-3"><a href="/checkout" style="color: white">Checkout</a></button> </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}