{% extends "bookstore/base.html" %}
{% load static %}
{% block content %} 

    {%block style %}
        <link rel="stylesheet" href="{% static 'bookstore/css/cart.css' %}" />
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
    {% endblock style %}

    <div class="container-fluid" id="content">
        <div class="container-fluid" id="cart-content">
            {% if cartCount is None %}
                <div id="cart-title-empty-div">
                    <h5 id="cart-title-empty">Your cart is empty.</h5>
                </div>
            {% else %}
                <h2 id="cart-title">YOUR CART - <span id="num-items">{{ cartCount }}</span> item(s)</h2>
                <table border=1 frame=void rules=rows>
                    <tr>
                        <thead>
                            <th id="th-products" colspan="2">PRODUCTS</th>
                            <th id="th-price">PRICE</th>
                            <th id="th-quantity">QUANTITY</th>
                            <th id="th-total">TOTAL</th>
                            <th id="th-remove"></th>
                        </thead>
                    </tr>
                    {% for item in cart.values %}
                        <tr>
                            <td class="td-image">
                                <a href={% url 'bookstore-book_detail' item.book.title %}>
                                    <img src="{{ item.book.image }}" id="book-image"/>
                                </a>
                            </td>
                            <td class="td-products">
                                <h6>{{ item.book.title }}</h6>
                            </td>
                            <td class="td-price">
                                <b>$<span id="item-{{ item.book.id }}-price">{{ item.book.price }}</span></b>
                            </td>
                            <td class="td-quantity">
                                <span class="fa fa-minus-square text-secondary" id="decrement-button" onclick="changeQuantity('decrement', {{ item.book.id }}, {{ item.cart }})"></span>                            
                                <input id="item-{{ item.book.id }}" class="quantity" type="number" min="1" max="99" value="{{ item.quantity }}" disabled/>                
                                <span class="fa fa-plus-square text-secondary" id="increment-button" onclick="changeQuantity('increment', {{ item.book.id }}, {{ item.cart }})"></span>
                            </td>
                            <td class="td-total">
                                <b>$<span id="item-{{ item.book.id }}-total">{{ item.total }}</span></b>
                            </td>
                            <td class="td-remove">
                                <div class="close" onclick="changeQuantity('remove', {{ item.book.id }}, {{ item.cart }})">&times;</div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                <hr class="my-4">

                <div id="total-row">
                    <a href="/search" id="keep-shopping-link">
                        <button class="btn btn-sm bg-dark text-white" id="keep-shopping-button">Keep Shopping</button>
                    </a>
                    

                    <b class="pl-md-4" id="subtotal-container">
                        Subtotal:<span class="pl-md-4">$<span id="subtotal" value="{{ subtotal }}">{{ subtotal }}</span>
                        </span>
                    </b>

                    <a href="/checkout" id="checkout-link">
                        <button class="btn btn-sm bg-dark text-white" id="checkout-button">Checkout</button>
                    </a>
                </div>
            {% endif %}

            
        </div>
        <script src="../../static/bookstore/js/cart.js"></script>
    </div>
{% endblock content %}
