{% extends "bookstore/base.html" %}
{% load static %}
{% block content %}

    <!-- Add a new style block if you want to create a new stylesheet for a page-->
    {% block style %}
        <link rel="stylesheet" href="{% static 'bookstore/css/edit_profile.css' %}">
    {% endblock style %}

    <div class="container-fluid" id="content">
        <div class="container-fluid" id="center-div">
            <img id="account-icon" src="{% static 'bookstore/images/account-icon.png' %}">        
            <h3 id="email">{{ user.email }}</h3>
            <ul id="list">
                <li class="edit-option" id="edit-password-option">
                    <div class="edit-div">
                        <b>Password:</b><br>
                        <i>Encrypted</i>
                    </div>
                    <a href="{% url 'change-password' %}">
                        <button class="edit-button" value=0 id="edit-password-button">Change</button>
                    </a>
                </li>
                <li class="edit-option" id="edit-name-option">
                    <div class="edit-div">
                        <b>Name:</b><br>
                        {{ user.first_name }} {{user.last_name }}
                    </div>
                    <button class="edit-button" id="edit-name-button" value=0 onclick="editName()">Edit</button>
                    <div class="edit-form" id="edit-name-form">
                        <form method="POST" action="/edit_name" enctype="multipart/form-data" id="name-form">
                            {% csrf_token %}
                            <label>First Name:</label>
                            <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" onclick="clearFirstName()">
                            <span class="error-msg" id="first-name-error"></span><br>
                            <label>Last Name:</label>
                            <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" onclick="clearLastName()">
                            <span class="error-msg" id="last-name-error"></span><br>
                            <button type="button" class="submit-button" onclick="validateName()">Save Changes</button>
                        </form>
                    </div>
                </li>
                <li class="edit-option" id="edit-phone-option">
                    <div class="edit-div">
                        <b>Mobile Phone Number:</b><br> 
                        {% if user.phone %}
                            +1 ({{ user.phone|slice:":3" }}) {{ user.phone|slice:"3:6" }}-{{ user.phone|slice:"6:10" }}  
                        {% else %}
                            None
                        {% endif %}
                    </div>
                    {% if user.phone %}
                        <button class="edit-button" value=0 id="edit-phone-button" onclick="editPhone()">Edit</button>
                    {% else %}
                        <button class="edit-button" value=0 id="edit-phone-button" onclick="editPhone()">Add</button>
                    {% endif %}
                    <div class="edit-form" id="edit-phone-form">
                        <form method="POST" action="/edit_phone" enctype="multipart/form-data" id="phone-form">
                            {% csrf_token %}
                            <label>Phone:</label>
                            <input type="text" id="phone" name="phone" value="{{ user.phone }}" onclick="clearPhone()">
                            <span class="error-msg" id="phone-error"></span><br>
                            <button type="button" class="submit-button" onclick="validatePhone()">Save Changes</button>
                        </form>
                    </div>
                </li>
                <li class="edit-option" id="edit-address-option">
                    <div class="edit-div">
                        <b>Address:</b><br> 
                        {% if user.street %}
                            {{ user.street }}<br>
                            {{ user.city }}, {{user.state}} {{user.zip_code}}
                        {% else %}
                            None
                        {% endif %}
                    </div>
                    {% if user.street %}
                        <button class="edit-button" value=0 id="edit-address-button" onclick="editAddress()">Edit</button>
                    {% else %}
                        <button class="edit-button" value=0 id="edit-address-button" onclick="editAddress()">Add</button>
                    {% endif %}
                    <div class="edit-form" id="edit-address-form">
                        <form method="POST" action="/edit_address" enctype="multipart/form-data" id="address-form">
                            {% csrf_token %}
                            <label>Street:</label>
                            <input type="text" id="street" name="street" value="{{ user.street }}" onclick="clearStreet()">
                            <span class="error-msg" id="street-error"></span><br>
                            <label>City:</label>
                            <input type="text" id="city" name="city" value="{{ user.city }}" onclick="clearCity()">
                            <span class="error-msg" id="city-error"></span><br>
                            <label>State:</label>
                            <input type="text" id="state" name="state" value="{{ user.state }}" onclick="clearState()">
                            <span class="error-msg" id="state-error"></span><br>
                            <label>Zip Code:</label>
                            <input type="text" id="zip_code" name="zip_code" value="{{ user.zip_code }}" onclick="clearZipCode()">
                            <span class="error-msg" id="zip-code-error"></span><br>
                            <button type="button" class="submit-button" onclick="validateAddress()">Save Changes</button>
                        </form>
                    </div>
                </li>
                <li class="edit-option" id="edit-card-option">
                    <div class="edit-div">
                        <b>Credit Card:</b><br> 
                        {% if user.card_num %}
                            <img id="visa-icon" src="{% static 'bookstore/images/visa-icon.gif' %}"> ending in 
                            {{ user.card_num|slice:"12:" }}
                        {% else %}
                            None
                        {% endif %}
                    </div>
                    {% if user.card_num %}
                        <button class="edit-button" value=0 id="edit-card-button" onclick="editCard()">Edit</button>
                    {% else %}
                        <button class="edit-button" value=0 id="edit-card-button" onclick="editCard()">Add</button>
                    {% endif %}
                    <div class="edit-form" id="edit-card-form">
                        <form method="POST" action="/edit_card" enctype="multipart/form-data" id="card-form">
                            {% csrf_token %}
                            <label>Card Number:</label>
                            <input type="text" id="card_num" name="card_num" onclick="clearCardNum()">
                            <span class="error-msg" id="card-num-error"></span><br>
                            <label>Expiration Date:</label>
                            <input type="text" id="card_exp" name="card_exp" onclick="clearCardExp()">
                            <span class="error-msg" id="card-exp-error"></span><br>
                            <label>Security Code:</label>
                            <input type="text" id="card_code" name="card_code" onclick="clearCardCode()">
                            <span class="error-msg" id="card-code-error"></span><br>
                            <button type="button" class="submit-button" onclick="validateCard()">Save Changes</button>
                        </form>
                    </div>
                </li>
                <li class="edit-option" id="edit-subscribe-option">
                    <div class="edit-div">
                        <b>Promotions list:</b><br>
                        {% if not user.is_subscribed %}
                            You are not subscribed
                        {% else %}
                            You are subscribed
                        {% endif %}
                    </div>
                    {% if not user.is_subscribed %}
                        <form method="POST" action="/edit_subscribe" enctype="multipart/form-data" id="subscribe-form">
                            {% csrf_token %}
                            <input type="hidden" name="is_subscribed" value=True>
                            <button type="submit" class="edit-button" id="edit-subscribe-button">Subscribe</button>
                        </form>
                        
                    {% else %}
                        <form method="POST" action="/edit_subscribe" enctype="multipart/form-data" id="subscribe-form">
                            {% csrf_token %}
                            <input type="hidden" name="is_subscribed" value=False>
                            <button type="submit" class="edit-button" id="edit-subscribe-button">Unsubscribe</button>
                        </form>
                    {% endif %}
                </li>
            </ul>
        </div>
        <script src="../../static/bookstore/js/edit_profile.js"></script>
    </div>

{% endblock content %}