{% extends "bookstore/base.html" %}
{% load static %}
{% block content %}

    {% block style %}
        <link rel="stylesheet" href="{% static 'bookstore/css/order_history.css' %}">
    {% endblock style %}

    <div class="container-fluid" id="content">
        <h1 id="title">Order History</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                    <th scope="col">Products</th>
                    <th scope="col">Price</th>
                    <th scope="col">Promotion</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for index in order_data.values reversed %}
                    <tr>
                        <form method="POST" action="reorder">
                            {% csrf_token %}
                            <td>{{ index.order.id }}</td>
                            <td>{{ index.order.status }}</td>
                            <td>{{ index.order.date }}</td>
                            <td>
                                {% for item in index.items %}
                                    {{ item.book }} ({{ item.quantity }})<br>
                                {% endfor %}
                            </td>
                            <td>
                                {% for item in index.items %}
                                    ${{ item.book.price }}<br>
                                {% endfor %}
                            </td>
                            <td>
                                {% if index.order.promotion %}
                                    {{ index.order.promotion }} - {{ index.order.promotion.percentage }}% off
                                {% else %}
                                    None
                                {% endif %}
                            </td>
                            <td>${{ index.order.total }}</td>
                            <input type="hidden" name="order" value="{{ index.order }}">                                                    
                            <td>
                                <button type="submit">Reorder</button>
                            </td>
                        </form>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}