{% extends "bookstore/base.html" %}
{% load static %}
{% block content %}

	{% block style %}
		<link rel="stylesheet" href="{% static 'bookstore/css/search.css' %}">
	{% endblock style %}
	
	<div class="container-fluid" id="content">
		<div class="container-fluid" id="content-left">
			<p id="content-left-title">Filter Results</p>
			<form method="POST">
				<p class="filter-category">Genre</p>
				<ul class="filter-list">
					<li>
						<input type="radio" value="0" name="department" checked>
						<label>Fiction</label>
					</li>
					<li>
						<input type="radio" value="1" name="department">
						<label>Non-fiction</label>
					</li>
					<li>
						<input type="radio" value="2" name="department">
						<label>Sci-Fi</label>
					</li>
					<li>
						<input type="radio" value="3" name="department">
						<label>History</label>
					</li>
					<li>
						<input type="radio" value="4" name="department">
						<label>Horror</label>
					</li>
					<li>
						<input type="radio" value="5" name="department">
						<label>Classics</label>
					</li>
				</ul>
				<p class="separator">______________________________________</p>
				<p class="filter-category">Price Range</p>
				<ul class="filter-list">
					<li>
						<input type="radio" value="0" name="price-range" checked>
						<label>None</label>
					</li>
					<li>
						<input type="radio" value="<10" name="price-range">
						<label>Less than $10</label>
					</li>
					<li>
						<input type="radio" value="10-25" name="price-range">
						<label>$10 - $25</label>
					</li>
					<li>
						<input type="radio" value="25>" name="price-range">
						<label>$25+</label>
					</li>
				</ul>
				<p class="separator">______________________________________</p>
				<p class="filter-category">Other</p>
				<ul class="filter-list">
					<li>
						<input type="checkbox" value="on-sale" name="other">
						<label>On-Sale</label>
					</li>
					<li>
						<input type="checkbox" value="stars" name="other">
						<label>Five-Stars</label>
					</li>
				</ul>
			</form>
		</div>

		<div class="container-fluid" id="content-right">
			<h2 id="content-right-title">Select books to add to your cart</h2>

				{% for book in books %}


							<div id="book-container">
								<a href={% url 'bookstore-book_detail' book.id %}>
									<img src="{{ book.image }}" id="book-image">
									<p id="book-title">{{ book.title }}</p>
									<p id="book-author">{{ book.author }}</p>
									<p id="book-price"><b>${{ book.price }}</b></p>
								  </a>
							</div>
					
				{% endfor %}


		</div>
	</div>


{% endblock content %}