{% extends "bookstore/base.html" %}
{% load static %}
{% block content %}

	{% block style %}
		<link rel="stylesheet" href="{% static 'bookstore/search.css' %}">
	{% endblock style %}
	
	<div class="container-fluid" id="content">
		<div class="container-fluid" id="content-left">
			<p>Filter Results</p>
			<form id="form2" method="POST">
				<ul id="filterList">
					<li>
						<input type="radio" value="0" name="department" checked>
						<label>None</label>
					</li>
					<li>
						<input type="radio" value="1" name="department">
						<label>Fruit</label>
					</li>
					<li>
						<input type="radio" value="2" name="department">
						<label>Vegetables</label>
					</li>
					<li>
						<input type="radio" value="3" name="department">
						<label>Meat</label>
					</li>
					<li>
						<input type="radio" value="4" name="department">
						<label>Seafood</label>
					</li>
					<li>
						<input type="radio" value="5" name="department">
						<label>Dairy and Eggs</label>
					</li>
				</ul>
				<p class="filterCategory">Price Range</p>
				<ul id="filterList">
					<li>
						<input type="radio" value="0" name="price-range" checked>
						<label>None</label>
					</li>
					<li>
						<input type="radio" value="<10" name="price-range">
						<label>Less than $10</label>
					</li>
					<li>
						<input type="radio" value="10-25" name="price-range">
						<label>$10 - $25</label>
					</li>
					<li>
						<input type="radio" value="25>" name="price-range">
						<label>$25+</label>
					</li>
				</ul>
				<p class="filterCategory">Other</p>
				<ul id="filterList">
					<li>
						<input type="checkbox" value="on-sale" name="other">
						<label>On-Sale</label>
					</li>
					<li>
						<input type="checkbox" value="holiday" name="other">
						<label>Holiday</label>
					</li>
					<li>
						<input type="checkbox" value="perishable" name="other">
						<label>Perishable</label>
					</li>
				</ul>
			</form>
		</div>

		<div class="container-fluid" id="content-right">
			<h2>Select books to add to your cart</h2>
			<table>
				{% for book in books %}
					{% if forloop.counter|divisibleby:5 %}
						<tr>

						</tr>
					{% endif %}
						<td>
							<div id="book-container">
								<a href={% url 'bookstore-book_detail' book.id %}>
									<img src="{{ book.image }}" id="book-image">
									<p id="book-title">{{ book.title }}</p>
									<p id="book-author">{{ book.author }}</p>
									<p id="book-price"><b>${{ book.price }}</b></p>
								  </a>
							</div>
						</td>
				{% endfor %}
			</table>

		</div>
	</div>


{% endblock content %}