#content{
    min-height: 100%;
    width: 1500px;
}

#book-title{

}

#book-image{
    width: 150px;
    height: 200px;
}

#increment-button:hover, #decrement-button:hover{
    cursor: pointer;
}

#home-tab, #explore-tab, #profile-tab{
    color: rgb(175, 175, 175);
}

#cart-tab{
    color: white;
}

#home-tab:hover, #explore-tab:hover, #profile-tab:hover{
    color: rgb(218, 218, 218);
}