#content{
    height: 70%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #center-div{
    border: 2px solid black;
    border-radius: 10px;
    width: 440px;
    min-height: 450px;
    padding: 0 40px 0 40px;
    background-color: white;
    text-align: center;
  }

  #title{
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  input[type="password"]{
      margin-left: auto;
      margin-right: auto;
      width: 290px;
  }

 #submitButton{
     margin-bottom: 30px;
     width: 290px !important;
 }

