#content{
    min-height: 100%;
    width: 1500px;
    padding-bottom: 100px;
}

#title{
    padding: 13px 0px 7px 0;
    text-align: center;
    font-weight: normal;
    font-size: 45px;
}

label{
    margin-bottom: -3px;
}

.checkout-input{
    margin-bottom: 10px;
}

#promo-error{
    color: red;
}

#place-order-link{
    color: white;
    text-decoration: none;
}

#home-tab:hover, #explore-tab:hover, #profile-tab:hover, #cart-tab:hover{
    color: rgb(218, 218, 218);
}