#content{
    min-height: 100%;
    width: 1500px;
}

label{
    margin-bottom: -3px;
}

.checkout-input{
    margin-bottom: 10px;
}

#promo-error{
    color: red;
}

#place-order-link{
    color: white;
    text-decoration: none;
}

#home-tab:hover, #explore-tab:hover, #profile-tab:hover, #cart-tab:hover{
    color: rgb(218, 218, 218);
}