{% extends "bookstore/base.html" %}
{% load static %}
{% block content %}

    {% block style %}
    	<link rel="stylesheet" href="{% static 'bookstore/password_reset_email.css' %}">
  	{% endblock style %}
    
    <div class="container-fluid" id="content">
        <div class="container-fluid" id="center-div">
            <h1 id="title">Reset Password</h1>
            <img id="check-icon" src="{% static 'bookstore/images/verification-icon.png' %}">
            <p id="confirmation">
                Please check your inbox and click the link in the email to reset your password. It could take up to 10 minutes to show up in your inbox.
            </p>
        </div>
    </div>

{% endblock content%}