{% extends "bookstore/base.html" %}
{% load static %}
{% block content %}

    {% block style %}
    	<link rel="stylesheet" href="{% static 'bookstore/css/password_reset_email.css' %}">
  	{% endblock style %}
    
    <div class="container-fluid" id="content">
        <div class="container-fluid" id="center-div">
            <h1 id="title">Reset Password</h1>
            <p id="password-change-successful">Password change successful.</p>
            <a href="/signin" id="signin-link"><b>Back to login</b></a>
        </div>
    </div>

{% endblock content%}