#content{
    width: 1500px;
    min-height: 102%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-top: 5px;
}

#book-content{
    margin-top: 30px;
    padding: 0;
    height: 100%;
}

#left-box, #right-box{
    width: 50%;
    height: 100%;
    float: left;
}

#left-box{
    text-align: center;
}

#book-image{
    height: 500px;
    width: 350px;
    box-shadow: 0px 0px 5px 1px black;
}

#book-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    text-align: left;
}

#book-author{
    font-family: Arial, Helvetica, sans-serif;
}

#ratings{
    margin-top: 14px;
}

#book-rating{
    display: none;
}

.checked {
    color: orange;
}

#book-type-list{
    margin-left: -40px;
    list-style-type: none;
    display: inline-block;
}

#book-type-list li{
    display: inline-block;
}

#book-type-list li button{
    border: 1px solid silver;
    width: 140px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
}

#paperback{
    outline: 2px solid black;
}

#add-to-cart{
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-top: 10px;
}

#book-overview{
    clear: both;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#book-description{
    font-size: 20px;
    margin-bottom: 10px;
}

#book-overview span{
    font-size: 20px;
}

#other-books{
    padding-bottom: 60px;
    margin-top: 40px;
}

#other-books h2{
    font-family: Arial, Helvetica, sans-serif;
}

#other-books ul{
    list-style-type: none;
    display: inline-block;
    width: 100%;
    height: 430px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0;
    border-top: 3px solid black;
    padding-top: 20px;
}

#other-books ul li{
    display: inline-block;
    margin-right: 30px;
    width: 200px;
    padding: 0 5px 0 5px;
    
}

.other-book{
    text-align: center;
}

.other-book a{
    text-decoration: none;   
    color: black;
}

.other-book img{
    width: 200px;
    height: 270px;
    margin-bottom: 5px;
}

.other-book p{
    display: block;/* Change it as per your requirement. */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0px;
}

#back-button{
    margin-top: 20px;
    margin-left: -50px;
    background: none;
    border: none;
    position: absolute;
}

#back-button:hover{
    cursor: pointer;
}

#back-button:focus{
    outline: none;
}

#back-button img{
    height: 40px;
    width: 40px;
}

#cart-tab, #home-tab, #profile-tab{
    color: rgb(175, 175, 175);
}

#explore-tab{
    color: white;
}

#home-tab:hover, #profile-tab:hover, #cart-tab:hover{
    color: rgb(218, 218, 218);
}