.carousel{
    background-image: linear-gradient(white -100%, #636262 500%);
    border: 2px solid black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.carousel-img{
    width: 150px;
    height: 200px;
    box-shadow: 0px 0px 5px 1px black;
}
.display-img{
    width: 175px;
    height: 225x;
    padding-top: 15px;
}

#home-category ul{
    list-style-type: none;
    display: inline-block;
    width: 100%;
    height: 260px;
    margin: 0;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

#home-category li{
    display: inline-block;
    margin-right: 10px;
    width: 150px;
    padding: 0 5px 0 5px;
}

#home-category a{
    text-decoration: none;   
    color: black;
}

#home-category img{
    width: 120px;
    height: 160px;
    margin-bottom: 5px;
}

#home-category p{
    display: block;/* Change it as per your requirement. */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0px;
}