.borders{
    background-color: whitesmoke;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 0px;
    box-shadow: 0px 0px 50px 15px darkred;
    background-size: auto;
}

.title{
    text-align: center;
}

.book{
    border: 2px solid black;
    width: 400px;
    text-align: center;
    align-self: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.book img{
    height: 200px;
    width: 100px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.carousel{
    background-image: linear-gradient(white -100%, #636262 500%);
    border: 2px solid black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.carousel-img{
    width: 150px;
    height: 200px;
    box-shadow: 0px 0px 5px 1px black;
}
