#content{
  margin: 10% auto 0 auto;
  border: 2px solid black;
  border-radius: 10px;
  width: 400px;
  height: 430px;
  padding: 0 4% 0 4%;
}

#title{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

form{
  text-align: center;
}

#inputUsername, #inputPassword{
  margin-bottom: 20px;
}

#signin-button{
  margin-bottom: 20px;
}