#content{
  height: 70%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#center-div{
  border: 2px solid black;
  border-radius: 10px;
  width: 400px;
  height: 430px;
  padding: 0 4% 0 4%;
  background-color: white;
}

#title{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

form{
  text-align: center;
}

#inputUsername, #inputPassword{
  margin-bottom: 20px;
}

#signin-button{
  margin-bottom: 20px;
}

#home-tab:hover, #explore-tab:hover, #profile-tab:hover, #cart-tab:hover{
  color: rgb(218, 218, 218);
}